body {
    margin: 0;
    padding: 0;
}

#block-for-slider {
    width: 100%;
    margin: 0 auto;
}

#viewport {
    width: 100%;
    min-width: 940px;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 3);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    margin-top: -10px;
    padding: 0;
}

.slide {
    width: calc(100%/3);
    list-style: none;
    display: inline-block;
    float: left;
    position: relative;
}

#slider .caption-right {
    text-align: right;
    float: right;
    left: -200px;
}

.slide-img {
    width: 100%;
    margin-top: -320px;
}

.caption {
    display: inline-block;
    position: relative;
    top: 80px;
    height: 300px;
    /*left: -310px;*/
     
    /* Оформление текста */
    color:#FFF;
    font-family: Raleway;
    font-size: 45px;
    text-align: left;
         
    /* Фон */
   /* background-color:rgba(0,0,0,.4);*/
   /* padding:10px 30px;*/

    /*width: 300px;
*/    /*border: 5px solid green;*/
    margin: 0 auto;
    clear: both;
}

.caption-first-line {
    line-height: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}
.caption-second-line {
    line-height: 40px;
}

.slider-button {
    border: 1px solid white;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 30px;
    padding: 3px 5px 5px 10px;
    width: 135px;
}


#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #f2f2f259;
    border-radius: 50%;
    top: calc(50% - 25px);

}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #f2f2f259;
    border-radius: 50%;
    margin: 10px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}