@import 'global/normalize',
		'components/slider';

/* Adjustment */

html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	/*margin: 0;*/
}

.wrapper {
	min-height: 100%;
	min-width: 320px;
	overflow: hidden;
	position: relative;
}

.container_main {
	width: 90%;
	max-width: 940px;
	height: 100%;
	margin: 0 auto;
}

.container_relative {
	position: relative;
}

.empty {
	height: 190px;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Fonts */
@font-face {
	font-family: Adamant;
	src: url('../fonts/PF Adamant Pro-Regular.otf');
}

@font-face {
	font-family: Raleway;
	src: url('../fonts/Raleway-Regular.otf');
}

/* Header */

	/*Header__top*/

.header__top {
	width: 100%;
	height: 30px;
	color: #fff;
	background-color: #8c0001;
}

.header__top-wrapper {
	display: flex;
	justify-content: space-between;
	height: 30px;
	.menu__link {
		line-height: 30px;
	}
}

.navbar {
	padding: 0;
	.navbar-collapse {
		height: auto;
	}
	.navbar-toggler {
		padding: 0 25px;
	    height: 100%;
	    width: 100%;
	    color: inherit;
	    text-align: left;
	}
}

.menu__list {
	display: flex;
	height: 100%;
	li {
		padding: 0 10px;
	}
}

.menu__link {
	display: block;
    width: 100%;
    height: 100%;
    padding: 0;
}

.top-menu_left {
	// min-width: 25%;
}

.header__top .menu__item{
	background-color: #8c0001; 
	&:hover {
		background-color: #c90e0e;
	}
}

.header__top .menu__link {
	color: #fff;
	font-family: Raleway;
	font-size: 14px;
}
	/*Header__middle*/

.header__middle {
	height: 50px;
	 margin: 25px 0;
}

.header__middle_wrapper {
	display: flex;
	justify-content: center;
}

.header__logo, .logo__pic_medium, .logo__brandname_medium {
	
}

.header__logo {
	padding-left: 10px;
}

.logo__pic_medium {
	width: 50px;
	height: 50px;
}

.logo__brandname_medium	{
	font-size: 30px;
	letter-spacing: 10px;
	font-family: Adamant;
	font-weight: 200;
	color: #596072;
	padding: 9px 0px 0px 20px;
	margin: 0;
}

.header__shop-info {
	display: none;
}

.header__shop-info, .header__schedule-text {
	float: right;
}

.header__schedule, .header__contacts {
	float: left;
}

.header__schedule {
	margin-right: 25px;
}

.header__schedule-icon {
	margin-right: 10px;
}

.header__schedule-text {
	font-family: Adamant;
	font-size: 18px;
	color: #596072;
	text-align: right;
}

.header__shop-info .header__schedule-text,
.header__shop-info .phone-number {
	padding-top: 6px;
}

	/*Header__bottom*/

.header__bottom {
	height: 45px;
}	

.bottom-menu {
	float: left;
}

.bottom-menu .menu__item {
	display: inline-block;
	padding: 12px 15px 0;
	height: 45px;
	float: left;
	background: #fff;
}

.menu > li {
	position: relative;
}

.sub-menu {
	position: absolute;
	top: 45px;
	left: 1px;
	display: none;
	z-index: 2;
}

.bottom-menu ul > li:hover .sub-menu {
	display: block;
}

.bottom-menu .menu__item:hover {
	background: #e2e0d5;
}

.bottom-menu .menu__link-text {
	color: #8c0001;
	font-family: Adamant;
	font-size: 20px;
}


.header__cart, .separator_vertical, .header__search {
	float: right;
}

.header .separator_vertical {
	margin-top: 10px;
	width: 1px;
	height: 25px;
}

.header__search {
	margin: 10px 40px 0 0;
}

.search {
	width: 330px;
}
.search__form {
	position: relative;
}

.search__input {
	transition: width 0.3s;
	width: 0;
	padding: 5px 0px 5px 15px;
	border: 0;
	border-radius: 20px;
	outline: none;
}

.search__input_opened {
	width: 87%;
	 border: 1px solid gray;
}

.search__submit {
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	outline: 0;
	border: 0;
	padding: 0;
	cursor: pointer;
}

.search__popup_invisible {
	display: block;
	opacity: 0;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	z-index: 10;
	position: absolute; 
	cursor: pointer; 
}

.search__icon {
	margin-top: 2px;
}

.header__cart {
	margin: 10px 0 0 40px;
}

/* Main */

.categories__list {
	width: 100%;
    display: flex;
}

.categories__item {
	background-color: #FFF;
	margin-right: 20px;
	height: 480px;
	width: 300px;
	margin-top: -30px;
	position: relative;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

.categories__item:last-child {
	margin-right: 0;
}

.category__link {
	display: inline-block;
}

.category__inner-wrapper {
	padding: 20px;
	height: 150px;
}

.category__icon {
	width: 50px;
	height: 50px;
	box-sizing: content-box;
}

.category__title {
	text-align: left;
	font-family: Adamant;
	font-size: 28px;
	font-weight: 400;
	color: #596072;
	margin: 0;
	padding-top: 10px;
}

.category__description {
	font-family: Raleway;
    font-size: 18px;
    color: #596072;
}

/* Footer */

.footer {
	height: 190px;
	margin-top: -190px;
	position: relative;
}

.footer__wrapper {
	height: 170px;
	background-color: #F2F2F2;
}
.footer__logo, .footer__nav, .footer__contacts, .footer__nav__column,
.logo__pic_small, .logo__brandname_small, .phone-number, .phone-icon_small {
	float: left;
}

.footer__logo {
	width: 30%;
	margin-top: 65px;
}

.logo {
	display: flex;
}

.logo__pic_small {
	height: 40px;
	width: 40px;
}

.logo__brandname_small {
	font-size: 25px;
	letter-spacing: 10px;
	font-family: Adamant;
	font-weight: 200;
	color: #596072;
	padding: 5px 0px 0px 15px;
}

.footer__nav{
	width: 48%;
	padding: 30px;
	padding-left: 70px;
}

.footer__nav__column {
	margin-right: 80px;
}

.footer__list-name {
	color: #8c0001;
	 font-family: Adamant;
	 font-size: 16px;
	 margin-bottom: 10px;
}

.footer__list {
	margin-top: 10px;
}

.footer__list-item {
	padding-top: 4px;
}

.footer__link {
	font-family: Raleway; 
	font-size: 14px;
	color: #596072;
}

.footer__link:hover {
  	color: #9ea30d;
}

.footer__contacts {
	width: 22%;
	padding-top: 65px;
	float: right;
}

.phone-icon_small {
	height: 35px;
	width: 35px;
	margin-top: 4px;
}

.phone-number {
	float: right;
	font-family: Adamant;
	font-size: 18px;
	color: #596072;
	margin-left: 5px;
}

.copyrights-line {
	height: 20px;
	background-color: #8c0001;
	font-family: Raleway;
	font-size: 12px;
	color: #fff;
	padding-top: 4px;
}

.copyrights__author-info {
	float: left;
}

.copyrights__site-info {
	float: right;
}

/* decoration-elements */

.separator_horizontal {
	border-bottom: 1px solid #9ea30d;
	width: 70px;
}

.separator_horizontal_wide {
	border-top: 1px solid #808080;
	box-sizing: content-box;
}

.separator_vertical {
	border-right: 1px solid #808080;
	box-sizing: content-box;
}

.button_take-a-look {
	color: #FFF;	
	border: 1px solid white;
	border-radius: 20px;
	font-family: Raleway;
	font-size: 20px;
	margin-top: 10px;
	padding: 3px 11px 7px 12px;
	width: 140px;
}

.button_more {
	position: absolute;
    bottom: 20px;
    font-family: Raleway;
    font-size: 14px;
    color: #fff;
    background: #8c0001;
    padding: 3px 10px 4px 10px;
    border-radius: 30px;
    text-decoration: none;
    user-select: none;
}

.button_more:hover {
	background-color: #9ea30d;
}

@import 'global/media_queries';
